<!DOCTYPE html>
<html>
<head>
  <title>Contact</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="shortcut icon" href="../image/logo.jpg" type="image/x-icon">
	<meta property="og:image" content="../image/logo.jpg" />
    <link rel="stylesheet" href="../style.css">
</head>
    <div class="container bg">
        <div class="navBar">
          <div class="logo">
            <a href="../">
              <img src="../image/logo.jpg" style="width: 70px;" alt="logo" />
            </a>
          </div>
          <ul>
            <li><a href="../about">about</a></li>
            <li><a href="../product">product</a></li>
            <li><a href="../contact">contact</a></li>
          </ul>
        </div>
    </div>
</body>
</html>